.inline-svg {
	position: absolute;
	width: 0;
	height: 0;
	pointer-events: none;
	user-select: none;
}
.checkbox {
	position: absolute;
	visibility: hidden;
	vertical-align: middle;
}
.cbx {
	-webkit-user-select: none;
	user-select: none;
	cursor: pointer;
	padding: 6px 8px;
	border-radius: 6px;
	overflow: hidden;
	transition: all 0.2s ease;
	display: flex;
}
.cbx:hover {
	background: rgba(0,119,255,0.06);
}
.cbx:hover .cbx-blk {
	border-color: #07f;
}
.cbx-blk {
	position: relative;
	width: 18px;
	height: 18px;
	border-radius: 4px;
	transform: scale(1);
	border: 1px solid #cccfdb;
	transition: all 0.2s ease;
	box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.cbx-blk svg {
	position: absolute;
	top: 3px;
	left: 2px;
	fill: none;
	stroke: #fff;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	stroke-dasharray: 16px;
	stroke-dashoffset: 16px;
	transition: all 0.3s ease;
	transition-delay: 0.1s;
	transform: translate3d(0, 0, 0);
}
.cbx-txt {
	padding-left: 8px;
	line-height: 18px;
}
.checkbox:checked + .cbx .cbx-blk {
	background: #07f;
	border-color: #07f;
	animation: wave 0.4s ease;
}
.checkbox:checked + .cbx .cbx-blk svg {
	stroke-dashoffset: 0;
}
@-moz-keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
@-webkit-keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
@-o-keyframes wave {
	50% {
		transform: scale(0.9);
	}
}
@keyframes wave {
	50% {
		transform: scale(0.9);
	}
}